@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* Buttons */

.boxmain {
  margin: 0;
  padding: 0 0px;
  border-radius: initial;
}

.boxmain .box {
  top: 0;
  padding: 15px;
  border-radius: initial;
}

/* Table */

table thead {
  text-transform: uppercase;
}

.btn-max {
  width: 100% !important;
}

