/* Buttons */

.boxmain {
  margin: 2rem;
  padding: 0 4rem 0 0;
  border-radius: initial;
  width: auto;

  .box {
    top: 0;
    margin: 0;
    padding: 18px;
    border-radius: initial;
  }

  a {
    font-size: small;
    color: white;
  }
}

/* Table */
table {
  thead {
    text-transform: uppercase;
  }
}

.btn {
  &-max {
    width: 100% !important;
  }

  &-requested {
    background-color: #0bf37f;
    border-color: #28a745;
  }

  &-wait-for-visit {
    color: black;
    background-color: #ffe97d;
    border-color: #ffe97d;
  }

  &-quoted {
    color: black;
    background-color: #83e9f1;
    border-color: #83e9f1;
  }

  &-scheduled {
    background-color: #6797de;
    border-color: #6797de;
  }

  &-attended {
    background-color: #d78bf2;
    border-color: #d78bf2;
  }

  &-paid-out {
    background-color: #eca12f;
    border-color: #eca12f;
  }

  &-cancel {
    background-color: #f30b3a;
    border-color: #f30b3a;
  }
}
